<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1>My Name is Vishal Panchidi</h1>
    </div>
    <div class="col-sm-6">
      <img
        src="../../../assets/img/banner/home-right.png"
        alt=""
        style="max-width: 15em;"
        class="img-responsive"
      />
    </div>
  </div>
</div> -->
<div>
  <div class="d-flex justify-content-center flex-wrap">
    <div class="align-self-center">
      <div class="p-2">
        <h1>Vishal Panchidi</h1>
        <h4>
          WEB Developer at

          <img
            style="max-height: 10rem; max-width: 10rem"
            src="../../../assets/img/tcs1.jpg"
            alt=""
          />
        </h4>
        <button mat-raised-button color="accent">Download CV</button>
      </div>
    </div>

    <div class="p-2">
      <img
        src="../../../assets/img/banner/home-right.png"
        alt=""
        class="img-responsive img-fluid"
      />
    </div>
  </div>

  <div class="d-flex flex-wrap">
    <div class="p-2">
      <img
        src="../../../assets/img/about-us.png"
        alt=""
        class="img-responsive img-fluid"
      />
    </div>
    <div class="align-self-center">
      <div class="p-2">
        <div style="max-width: 30rem">
          <div class="card-body">
            <b><h1 class="card-title">LET’S INTRODUCE ABOUT MYSELF</h1></b>
            <p class="card-text">
              Whose given. Were gathered. There first subdue greater. Bearing
              you Whales heaven midst their. Beast creepeth. Fish days. Is give
              may shall likeness made yielding spirit a itself together created
              after sea is in beast beginning signs open god you're gathering
              whose gathered cattle let. Creature whales fruit unto meat the
              life beginning all in under give two.
            </p>
            <button mat-raised-button color="accent">Download CV</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<h1 style="margin: 2rem; justify-content: center; text-align: center">
  PROFICIENT IN UI LIBRARY
</h1>
<section class="brand_area section_gap_bottom">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <p-carousel
          [circular]="true"
          [autoplayInterval]="3000"
          [value]="cars1"
          styleClass="custom-carousel"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-car pTemplate="item">
            <mat-card class="example-card" style="margin: 1rem; border: none">
              <div class="row">
                <mat-card-header class="col-sm-3">
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title
                    ><img
                      src="{{ car.img }}"
                      alt=""
                      style="max-width: 10rem; max-height: 10rem"
                      class="img-fluid"
                  /></mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content class="col-sm-9">
                  <p style="padding: 1rem">
                    The Shiba Inu is the smallest of the six original and
                    distinct spitz breeds of dog from Japan. A small, agile dog
                    that copes very well with mountainous terrain, the Shiba Inu
                    was originally bred for hunting. The Shiba Inu is the
                    smallest of the six original and distinct spitz breeds of
                    dog from Japan. A small, agile dog that copes very well with
                    mountainous terrain, the Shiba Inu was originally bred for
                    hunting. The Shiba Inu is the smallest of the six original
                    and distinct spitz breeds of dog from Japan. A small, agile
                    dog that copes very well with mountainous terrain, the Shiba
                    Inu was originally bred for hunting. The Shiba Inu is the
                    smallest of the six original and distinct spitz breeds of
                    dog from Japan. A small, agile dog that copes very well with
                    mountainous terrain, the Shiba Inu was originally bred for
                    hunting. The Shiba Inu is the smallest of the six original
                    and distinct spitz breeds of dog from Japan. A small, agile
                    dog that copes very well with mountainous terrain, the Shiba
                    Inu was originally bred for hunting.
                  </p>
                </mat-card-content>
              </div>
            </mat-card>
          </ng-template>
        </p-carousel>
      </div>
      <div class="col-sm-4">
        <div class="container-fluid">
          <div class="d-flex flex-wrap">
            <h2 class="large" style="color: blue; font-size: 10rem">1.5</h2>
            <h3><b> Years Experience Working</b></h3>
          </div>

          <div>
            <div></div>
            <div>
              <h3><span class="fa fa-phone"></span> &nbsp;(+91)9167305187</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br />
<br />
<br />
<h1 style="margin: 2rem; justify-content: center; text-align: center">
  SERVICE OFFER
</h1>

<div class="d-flex justify-content-center flex-wrap">
  <mat-card
    class="example-card custom_shadow_hover"
    style="margin: 1rem; background-color: #f9f9fd"
  >
    <img
      mat-card-image
      src="../../../assets/img/nodejs2.png"
      alt="Photo of a Shiba Inu"
      style="max-height: 10rem; max-width: 10rem; padding: 1rem"
    />
    <mat-card-content> </mat-card-content>
  </mat-card>
  <mat-card
    class="example-card custom_shadow_hover"
    style="margin: 1rem; background-color: #f9f9fd"
  >
    <img
      mat-card-image
      src="../../../assets/img/expressjslogo.png"
      alt="Photo of a Shiba Inu"
      style="max-height: 10rem; max-width: 10rem; padding: 1rem"
    />
    <mat-card-content> </mat-card-content>
  </mat-card>

  <mat-card
    class="example-card custom_shadow_hover"
    style="margin: 1rem; background-color: #f9f9fd"
  >
    <img
      mat-card-image
      src="../../../assets/img/mongodb.png"
      alt="Photo of a Shiba Inu"
      style="max-height: 10rem; max-width: 10rem; padding: 1rem"
    />
    <mat-card-content> </mat-card-content>
  </mat-card>
  <mat-card
    class="example-card custom_shadow_hover"
    style="margin: 1rem; background-color: #f9f9fd"
  >
    <img
      mat-card-image
      src="../../../assets/img/swift.png"
      alt="Photo of a Shiba Inu"
      style="max-height: 10rem; max-width: 10rem; padding: 1rem"
    />
    <mat-card-content> </mat-card-content>
  </mat-card>
  <mat-card
    class="example-card custom_shadow_hover"
    style="margin: 1rem; background-color: #f9f9fd"
  >
    <img
      mat-card-image
      src="../../../assets/img/angular.png"
      alt="Photo of a Shiba Inu"
      style="max-height: 10rem; max-width: 10rem; padding: 1rem"
    />
    <mat-card-content> </mat-card-content>
  </mat-card>
</div>
<h1 style="margin: 2rem; justify-content: center; text-align: center">
  APPRECIATIONS
</h1>
<div class="conatiner-fluid">
  <p-carousel
    [value]="cars"
    styleClass="custom-carousel"
    [numVisible]="2"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-car pTemplate="item">
      <div
        class="card"
        style="border: none; background-color: #f9f9fd; margin: 1rem"
      >
        <div class="d-flex small-screen">
          <img
            src="{{ car.img }}"
            alt=""
            style="
              max-height: 10rem;
              max-width: 10rem;
              padding: 1rem;
              border-radius: 50%;
            "
          />
          <div>
            <br />
            <b>{{ car.name }}</b>
            <p>{{ car.message }}</p>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
