.custom_shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom_shadow_hover:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: transparent !important;
}
//carousel
.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .car-details
  > .p-grid {
  border: 1px solid #b3c2ca;
  border-radius: 3px;
  margin: 0.3em;
  text-align: center;
  padding: 2em 0 2.25em 0;
}
.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .car-data
  .car-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 24px;
}
.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .car-data
  .car-subtitle {
  margin: 0.25em 0 2em 0;
}
.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .car-data
  button {
  margin-left: 0.5em;
}
.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .car-data
  button:first-child {
  margin-left: 0;
}
.carousel-demo .ui-carousel.custom-carousel .ui-carousel-dot-icon {
  width: 16px !important;
  height: 16px !important;
  border-radius: 50%;
}
.carousel-demo
  .ui-carousel.ui-carousel-horizontal
  .ui-carousel-content
  .ui-carousel-item.ui-carousel-item-start
  .car-details
  > .p-grid {
  margin-left: 0.6em;
}
.carousel-demo
  .ui-carousel.ui-carousel-horizontal
  .ui-carousel-content
  .ui-carousel-item.ui-carousel-item-end
  .car-details
  > .p-grid {
  margin-right: 0.6em;
}
@media (max-width: 1024px) {
  .small-screen {
    // flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
  }
  small-font-devices {
    font-size: 10px;
  }
}
