<div class="container-fluid">
  <h1 style="margin: 2rem; justify-content: center; text-align: center">
    CLIENTS UNDER
    <img
      style="max-height: 10rem; max-width: 10rem"
      src="../../../assets/img/tcs1.jpg"
      alt=""
    />
  </h1>
  <div class="d-flex justify-content-center flex-wrap">
    <mat-card
      class="example-card custom_shadow_hover"
      style="margin: 1rem; background-color: #f9f9fd"
    >
      <img
        mat-card-image
        src="../../../assets/img/rogers3.png"
        alt="Photo of a Shiba Inu"
        style="max-height: 10rem; max-width: 10rem; padding: 1rem"
      />
      <mat-card-content> </mat-card-content>
    </mat-card>

    <mat-card
      class="example-card custom_shadow_hover"
      style="margin: 1rem; background-color: #f9f9fd"
    >
      <img
        mat-card-image
        src="../../../assets/img/melbourneWater.png"
        alt="Photo of a Shiba Inu"
        style="max-height: 10rem; max-width: 10rem; padding: 1rem"
      />
      <mat-card-content> </mat-card-content>
    </mat-card>

    <mat-card
      class="example-card custom_shadow_hover"
      style="margin: 1rem; background-color: #f9f9fd"
    >
      <img
        mat-card-image
        src="../../../assets/img/tatasky.jpg"
        alt="Photo of a Shiba Inu"
        style="max-height: 10rem; max-width: 10rem; padding: 1rem"
      />
      <mat-card-content> </mat-card-content>
    </mat-card>
    <mat-card
      class="example-card custom_shadow_hover"
      style="margin: 1rem; background-color: #f9f9fd"
    >
      <img
        mat-card-image
        src="../../../assets/img/liquidtelecom.png"
        alt="Photo of a Shiba Inu"
        style="max-height: 10rem; max-width: 10rem; padding: 1rem"
      />
      <mat-card-content> </mat-card-content>
    </mat-card>
  </div>
  <h1 style="margin: 2rem; justify-content: center; text-align: center">
    PROJECT DESCRIPTION
  </h1>
  <!-- <div class="row">

    <div class="col-sm-6">
      <div>
        <p-carousel
          [value]="cars"
          styleClass="custom-carousel"
          [numVisible]="1"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-car pTemplate="item">
            <div style="border: none; background-color: #f9f9fd">
              <div class="d-flex">
                <img src="{{ car.img }}" alt="" class="img-fluid" />
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>

    <div class="card-body col-sm-6">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div>
        <p-carousel
          [value]="cars"
          styleClass="custom-carousel"
          [numVisible]="1"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-car pTemplate="item">
            <div style="border: none; background-color: #f9f9fd">
              <div class="d-flex">
                <img
                  src="{{ car.img }}"
                  alt=""
                  class="img-fluid"
                  style="max-height: 15rem"
                />
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>

    <div class="card-body col-sm-6">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div>
        <p-carousel
          [value]="cars"
          styleClass="custom-carousel"
          [numVisible]="1"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-car pTemplate="item">
            <div style="border: none; background-color: #f9f9fd">
              <div class="d-flex">
                <img src="{{ car.img }}" alt="" style="max-height: 10rem" />
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>

    <div class="card-body col-sm-6">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-6" style="margin-bottom: 1rem; margin-top: 1rem">
      <div
        class="custom_shadow_hover"
        style="
          width: 100%;
          height: 100%;
          padding: 1rem;
          background-color: #f9f9fd;
        "
      >
        <img
          class="card-img-top"
          src="../../../assets/img/rogers2.jpg"
          alt="Card image cap"
          style="max-width: 10rem; max-height: 7rem"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6" style="margin-bottom: 1rem; margin-top: 1rem">
      <div
        class="custom_shadow_hover"
        style="
          width: 100%;
          height: 100%;
          padding: 1rem;
          background-color: #f9f9fd;
        "
      >
        <img
          class="card-img-top"
          src="../../../assets/img/melbourne2.jpg"
          alt="Card image cap"
          style="max-width: 10rem; max-height: 7rem"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="margin-bottom: 1rem; margin-top: 1rem">
      <div
        class="custom_shadow_hover"
        style="
          width: 100%;
          height: 100%;
          padding: 1rem;
          background-color: #f9f9fd;
        "
      >
        <img
          class="card-img-top"
          src="../../../assets/img/rogers2.jpg"
          alt="Card image cap"
          style="max-width: 10rem; max-height: 7rem"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6" style="margin-bottom: 1rem; margin-top: 1rem">
      <div
        class="custom_shadow_hover"
        style="
          width: 100%;
          height: 100%;
          padding: 1rem;
          background-color: #f9f9fd;
        "
      >
        <img
          class="card-img-top"
          src="../../../assets/img/melbourne2.jpg"
          alt="Card image cap"
          style="max-width: 10rem; max-height: 7rem"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
<h1 style="margin: 2rem; justify-content: center; text-align: center">
  CERTIFICATIONS
</h1>
<div class="conatiner-fluid">
  <p-carousel [value]="cars" styleClass="custom-carousel">
    <ng-template let-car pTemplate="item">
      <div
        class="card"
        style="
          border: none;
          background-color: #f9f9fd;
          margin: 1rem;
          text-align: center;
        "
      >
        <div>
          <img
            src="{{ car.img }}"
            alt=""
            style="padding: 1rem"
            class="img-fluid"
          />
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
